<nav class="navbar navbar-dark navbar-full bg-inverse">
    <h1 class="navbar-brand mb-0">Green Monitor</h1>
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Details</a>
        <a class="nav-item nav-link" href="#">Gallery</a>
        <a class="nav-item nav-link" href="#">Notes</a>
    </div>
    <form class="form-inline float-xs-right">
        <button class="btn align-middle btn-success" type="button">Update</button>
    </form>
</nav>
